<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>iframe demo page</title>
</head>

<body>
  <h1>iFrame test</h1>
  <iframe src="http://matskiv.com" id="iframe2" width="400px"></iframe>
  <br />
  <iframe src="https://osm1.skunkhenry.com:8443/console" id="target_iframe" width="400px" height="400px"></iframe>

  <script>
    fetch('https://osm1.skunkhenry.com:8443/console').then(function (response) {
      if (response.ok) {
        console.log(response.headers);
        return console.log("ok")
      }
      console.log("Network response was not ok.");
    }).catch(function (error) {
      console.log('There has been a problem with your fetch operation: ', error.message);
    });
  </script>
</body>

</html>
